.container {
  background-image: url("../../Imagenes/backgroun_form.jpg");
  background-size: cover;
}

.avgwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: whitesmoke;
  margin: 0px;
  padding-top: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formarea {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: #747071;
  border-radius: 25px;
  margin-top: 50px;
  margin-right: 250px;
  border: 3px solid whitesmoke;
  box-shadow: 4px 3px 6px 2px whitesmoke;
}

.detailsarea {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.detailsarea input {
  align-items: flex-start;
  width: 300px;
  color: whitesmoke;
  border-radius: 10px;
  border: 2px solid rgb(32, 30, 30);
  font-size: 20px;
  margin-bottom: 10px;
}
.detailsarea input,
label {
  color: whitesmoke;
  line-height: 30px;
}

.description {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(32, 30, 30);
  border-radius: 8px;
  width: 300px;
  height: 50px;
}

.select {
  margin-right: 15px;
}

ul {
  color: black;
  list-style-type: none;
}

.campos {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.camposSelect {
  display: flex;
}

.rating {
  width: 40px;
  align-self: center;
}

.bot {
  background-color: #222228;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin-right: 50px;
}

p {
  color: whitesmoke;
}

.bot:hover {
  background-color: #9e2525;
  color: whitesmoke;
}

.bot2 {
  background-color: #747071;
  color: black;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 34px;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.bot2:hover {
  background-color: #222228;
  color: whitesmoke;
  font-weight: bold;
}

.botContenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.botEliminar {
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

.botonesEliminar {
  display: flex;
  margin-left: 25px;
}

.submit {
  margin-top: 80px;
  margin-bottom: 20px;
  align-self: center;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  background-color: #222228;
  color: whitesmoke;
  transition: 0.5s all;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.1);
  color: whitesmoke;
  background-color: #1c680c;
}

.error {
  color: red;
}
